* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  background-color: #e2e2e2;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app_body {
  display: flex;
  width: 90vw;
  height: 90vh;
  background-color: #ededed;
  box-shadow: -1px 4px 20px -6px rgba(0, 0, 0, 0.2);
}

/************************************************************SIDEBAR*/
.sidebar {
  display: flex;
  flex-direction: column;
  flex: 0.35;
  border: 1px solid lightgrey;
}

.sidebar_header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.sidebar_headerRight {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 10vw;
}

.sidebar_search {
  display: flex;
  align-items: center;
  background-color: #eeeeee;
  height: 39px;
  padding: 10px;
}

.sidebar_searchContainer {
  display: flex;
  align-items: center;
  background-color: #fff;
  width: 100%;
  height: 35px;
  padding-left: 10px;
  border-radius: 20px;
}

.sidebar_searchContainer > .MuiSvgIcon-root {
  color: grey;
}

.sidebar_searchContainer input {
  border: none;
  margin-left: 10px;
  height: 30px;
  border-radius: 20px;
  width: 100%;
}

.sidebar_chats {
  flex: 1;
  overflow: scroll;
}

.sidebarChat {
  display: flex;
  padding: 20px;
  cursor: pointer;
  border-bottom: 1px solid #e6e6e6;
}

.sidebarChat:hover {
  background-color: #e6e6e6;
}

.sidebarChat_info {
  margin-left: 15px;
}

.sidebarChat_info h2 {
  font-size: 16px;
  margin-bottom: 4px;
}

.sidebarChat_info p {
  font-size: 13px;
}

/************************************************************ CHAT */

.chat {
  flex: 0.65;
  display: flex;
  flex-direction: column;
}

.chat_header {
  display: flex;
  padding: 20px;
  align-items: center;
  border-bottom: 1px solid lightgrey;
}

.chat_headerInfo {
  flex: 1;
  padding-left: 20px;
}

.chat_headerInfo h3 {
  margin-bottom: 3px;
  font-weight: 500;
}

.chat_headerInfo p {
  color: grey;
}

.chat_headerRight {
  display: flex;
  justify-content: space-between;
  min-width: 100px;
}

.chat_body {
  background-image: url("https://cdn.hipwallpaper.com/i/92/17/kE3Mrt.jpg");
  flex: 1;
  background-repeat: no-repeat;
  background-position: center;
  padding: 30px;
  overflow-y: scroll;
}

.chat_message {
  position: relative;
  font-size: 16px;
  padding: 10px;
  margin-bottom: 30px;
  width: fit-content;
  border-radius: 10px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.chat_name {
  position: absolute;
  top: -15px;
  font-size: 10px;
  color: #fff;
}

.chat_timestamp {
  position: relative;
  bottom: 0;
  font-size: 9px;
  margin-top: 4px;
  margin-left: auto;
}

.chat_reciever {
  margin-left: auto;
  background-color: #dcf8c6;
}

.chat_footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 62px;
  border-top: 1px solid lightgrey;
}

.chat_footer form {
  flex: 1;
  display: flex;
}

.chat_footer form input {
  flex: 1;
  border-radius: 30px;
  padding: 10px;
  border: none;
}

.chat_footer form button {
  display: none;
}

.chat_footer .MuiSvgIcon-root {
  color: grey;
  margin: 10px;
}

.chat_deleteNone {
  display: none;
}

.chat_delete {
  position: absolute;
  width: 200px;
  height: 100px;
  background-color: #f8f8f8;
  right: 7%;
  top: 12%;
  display: grid;
  place-items: center;
  color: #111;
  font-size: 20px;
  cursor: pointer;
  transition: 0.2s all ease-in-out;
  z-index: 211;
}

.chat_delete:hover {
  background-color: #e9e9e9;
}

/************************************************************ LOGIN */

.login {
  background-color: #f8f8f8;
  height: 100vh;
  width: 100vw;
  display: grid;
  place-items: center;
}

.login_container {
  padding: 100px;
  text-align: center;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 3px rgba(0, 0, 0, 0.46);
}

.login img {
  object-fit: contain;
  height: 100px;
  margin-bottom: 40px;
}

.login_container button {
  margin-top: 50px;
  text-transform: inherit !important;
  background-color: #0a8d48 !important;
  color: #fff;
  padding: 10px;
}

a {
  text-decoration: none;
  color: #111;
}
